StaRDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 13.0.1307 ( Build: 1307 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:star-dt="http://cnig.gouv.fr/star-dt/core" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:star-dt-ii="http://cnig.gouv.fr/star-dt/inspireimports" targetNamespace="http://cnig.gouv.fr/star-dt/core" elementFormDefault="qualified" version="Beta">
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:element name="Accessoire" type="star-dt:AccessoireType" substitutionGroup="star-dt:NoeudReseau">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe qui définit les accessoires du réseau.
-- Description --
Cette classe contient tous les équipements du réseau. 
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccessoireType">
		<xs:complexContent>
			<xs:extension base="star-dt:NoeudReseauType">
				<xs:sequence>
					<xs:element name="typeAccessoire" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
 Le type d&amp;rsquo;équipement décrit
-- Description --
La classification proposée est basée sur la classification INSPIRE, qui a été étendue pour répondre aux besoins nationaux. 
-- Source --
Inspire</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeAccessoireValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccessoirePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Accessoire"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Affleurant" type="star-dt:AffleurantType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Affleurants du réseau
-- Description --
Cette classe permet de faire le lien avec les affleurants documentés dans le PCRS. 
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AffleurantType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="idAffleurant" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Identifiant qui fait le lien avec l'identifiant renseigné dans le PCRS. 
-- Description --
La valeur doit être égale à celle renseignée dans l'attribut idSource.
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AutreCable" type="star-dt:AutreCableType" substitutionGroup="star-dt:Cable">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Câble dont le type est indéterminé. 
-- Description --
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AutreCableType">
		<xs:complexContent>
			<xs:extension base="star-dt:CableType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AutreCablePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:AutreCable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="AutreCanalisation" type="star-dt:AutreCanalisationType" substitutionGroup="star-dt:Canalisation">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Canalisation dont le type est indéterminé ou non couvert pas les autres types de conduite. 
-- Description --
Par exemple, une conduite orpheline, mais aussi des canalisations pour les produits alimentaires, les produits agricoles sont couverts.
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AutreCanalisationType">
		<xs:complexContent>
			<xs:extension base="star-dt:CanalisationType">
				<xs:sequence>
					<xs:element name="produitTransporte" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="pression" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Pression réglementaire : maximale en service
-- Description --
La pression est donnée en bars
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AutreCanalisationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:AutreCanalisation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="BatimentTechnique" type="star-dt:BatimentTechniqueType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Bâtiment hébergeant des équipements permettant d'assurer diverses fonctions du réseau : coupure, comptage, transformation de tension… A la différence de l’armoire/coffret, il est possible d’entrer à l’intérieur.
-- Description --
Ce bâtiment peut-être intégré dans du bâti existant (poste en immeuble), préfabriqué ou maçonné, clôturé (postes sources notamment), enterré.
Synomyme : poste
Illustrations : 
Poste de transformation préfabriqué



Poste de transformation enterré



Poste de transformation cabine haute



Poste de transformation en immeuble





Poste source


-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BatimentTechniqueType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BatimentTechniquePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:BatimentTechnique"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Cable" type="star-dt:CableType" abstract="true" substitutionGroup="star-dt:Troncon">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe abstraite qui regroupe les tronçons ou séquence de tronçons qui permettent de connecter électriquement un endroit à un autre.
-- Description --
Cet objet peut représenter physiquement un câble unique ou plusieurs câbles empruntant le même tracé et constituant le même ouvrage. Par exemple, les différentes phases et le neutre d'un ouvrage de distribution d'électricité sont représentés par le même objet “câble”.
-- Source --
IMKL-Be</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CableType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:TronconType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CablePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Cable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CableElectrique" type="star-dt:CableElectriqueType" substitutionGroup="star-dt:Cable">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Liaison utilisée pour acheminer l'électricité d'un endroit à un autre
-- Description --
Illustrations :
Câble de distribution HTA aérien 

Câble de distribution HTA souterrain 

Câbles de distribution BT aériens (torsadé et fils nus) : 
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CableElectriqueType">
		<xs:complexContent>
			<xs:extension base="star-dt:CableType">
				<xs:sequence>
					<xs:element name="classeTension" type="star-dt:ClasseTensionValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
tension du câble électrique
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fonctionCable" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
fonction du câble électrique
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>FonctionCableElectriqueValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="regime" type="star-dt:RegimeValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
régime du câble électrique
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CableElectriquePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CableElectrique"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CableTelecommunication" type="star-dt:CableTelecommunicationType" substitutionGroup="star-dt:Cable">
		<xs:annotation>
			<xs:documentation>-- Name --
Cable de télécommunication
-- Definition --
Liaison utilisée pour acheminer des signaux de données d'un endroit à un autre
-- Description --
-- Source --
IMKL/INSPIRE</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CableTelecommunicationType">
		<xs:complexContent>
			<xs:extension base="star-dt:CableType">
				<xs:sequence>
					<xs:element name="technoCable" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TelecomCableTechnoValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CableTelecommunicationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CableTelecommunication"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Canalisation" type="star-dt:CanalisationType" abstract="true" substitutionGroup="star-dt:Troncon">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe abstraite qui regroupe les tronçons de services d'utilité publique pour le transport des solides, liquides, produits chimiques ou gaz d'un endroit à un autre.
-- Description --
-- Source --
inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CanalisationType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:TronconType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CanalisationPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Canalisation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CanalisationAssainissementPluviale" type="star-dt:CanalisationAssainissementPluvialeType" substitutionGroup="star-dt:Canalisation">
		<xs:annotation>
			<xs:documentation>-- Name --
Canalisation d'assainissement ou pluviale
-- Definition --
Canalisation utilisée pour transporter des eaux usées ou des  eaux pluviales d'un endroit à un autre.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CanalisationAssainissementPluvialeType">
		<xs:complexContent>
			<xs:extension base="star-dt:CanalisationType">
				<xs:sequence>
					<xs:element name="typeAssainissement" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
type de conduite d'assainissement 
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SewerWaterTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ecoulement" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
type d'écoulement
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeEcoulementValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CanalisationAssainissementPluvialePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CanalisationAssainissementPluviale"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CanalisationEau" type="star-dt:CanalisationEauType" substitutionGroup="star-dt:Canalisation">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Conduite utilisée pour transporter de l'eau d'un endroit à un autre.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CanalisationEauType">
		<xs:complexContent>
			<xs:extension base="star-dt:CanalisationType">
				<xs:sequence>
					<xs:element name="typeCanalisationEau" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Type de canalisation d'eau
-- Description --

-- Source --
inspire</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>WaterTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ecoulement" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Type d'écoulement de l'eau
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeEcoulementValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeDepart" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Type de départ. 
-- Description --
Ne concerne que les branchements.
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeDepartValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CanalisationEauPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CanalisationEau"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CanalisationHydrocarbureChimique" type="star-dt:CanalisationHydrocarbureChimiqueType" substitutionGroup="star-dt:Canalisation">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Canalisation utilisée pour transporter des hydrocarbures ou des produits chimiques d'un endroit à un autre.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CanalisationHydrocarbureChimiqueType">
		<xs:complexContent>
			<xs:extension base="star-dt:CanalisationType">
				<xs:sequence>
					<xs:element name="typeFluide" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Type de fluide transporté
-- Description --
-- Source --
Inspire</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>OilGasChemicalsProductTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="classeTemperature" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Classe de température du fluide transporté
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ClasseTemperatureValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="pression" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Pression
-- Definition --
Pression réglementaire : maximale en service
-- Description --
La pression est donnée en bars (http://www.opengis.net/def/uom/UCUM/0/bar)
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CanalisationHydrocarbureChimiquePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CanalisationHydrocarbureChimique"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="CanalisationThermique" type="star-dt:CanalisationThermiqueType" substitutionGroup="star-dt:Canalisation">
		<xs:annotation>
			<xs:documentation>-- Name --
Canalisation de transport de chaleur
-- Definition --
Canalisation utilisée pour diffuser la chaleur ou le froid d'un endroit à un autre.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CanalisationThermiqueType">
		<xs:complexContent>
			<xs:extension base="star-dt:CanalisationType">
				<xs:sequence>
					<xs:element name="typeFluide" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Type de fluide transporté
-- Description --
-- Source --
inspire</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ThermalProductTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="temperature" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Température en degrés celsius. 
-- Description --
La température donnée est indicative. L'unité de mesure est le degré Celsius (http://www.opengis.net/def/uom/OGC/1.0/degree)
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pression" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Pression réglementaire : maximale en service
-- Description --
La pression est donnée en bars. L'unité de mesure renseignée est http://www.opengis.net/def/uom/OGC/1.0/degree

-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CanalisationThermiquePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:CanalisationThermique"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="ClassePrecisionReseauType">
		<xs:union memberTypes="star-dt:ClassePrecisionReseauEnumerationType star-dt:ClassePrecisionReseauOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="ClassePrecisionReseauEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>--Definition--
Un ouvrage ou tron&amp;#231;on d'ouvrage est rang&amp;#233; dans la classe A si l'incertitude maximale de localisation indiqu&amp;#233;e par son exploitant est inf&amp;#233;rieure ou &amp;#233;gale &amp;#224; 40 cm et s'il est rigide, ou &amp;#224; 50 cm s'il est flexible (l'incertitude maximale est port&amp;#233;e &amp;#224; 80 cm pour les ouvrages souterrains de g&amp;#233;nie civil attach&amp;#233;s aux installations destin&amp;#233;es &amp;#224; la circulation de v&amp;#233;hicules de transport ferroviaire ou guid&amp;#233; lorsque ces ouvrages ont &amp;#233;t&amp;#233; construits ant&amp;#233;rieurement au 1er janvier 2011),</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>--Definition--
Un ouvrage ou tron&amp;#231;on d'ouvrage est rang&amp;#233; dans la classe B si l'incertitude maximale de localisation indiqu&amp;#233;e par son exploitant est sup&amp;#233;rieure &amp;#224; celle relative &amp;#224; la classe A et inf&amp;#233;rieure ou &amp;#233;gale &amp;#224; 1,5 m&amp;#232;tre.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>--Definition--
Un ouvrage ou tron&amp;#231;on d'ouvrage est rang&amp;#233; dans la classe C si l'incertitude maximale de localisation indiqu&amp;#233;e par son exploitant est sup&amp;#233;rieure &amp;#224; 1,5 m&amp;#232;tre, ou si son exploitant n'est pas en mesure de fournir de donn&amp;#233;es de localisation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClassePrecisionReseauOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClasseTensionValueType">
		<xs:union memberTypes="star-dt:ClasseTensionValueEnumerationType star-dt:ClasseTensionValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="ClasseTensionValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TBT">
				<xs:annotation>
					<xs:documentation>--Definition--
Très Basse Tension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BT">
				<xs:annotation>
					<xs:documentation>--Definition--
Basse Tension</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HTA">
				<xs:annotation>
					<xs:documentation>--Definition--
Haute Tension A</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HTB">
				<xs:annotation>
					<xs:documentation>--Definition--
Haute Tension B</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="inconnu">
				<xs:annotation>
					<xs:documentation>--Definition--
Tension inconnue (ouvrages désafectés par exemple)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClasseTensionValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Coffret" type="star-dt:CoffretType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
Armoire/Coffret
-- Definition --
Objet se présentant sous la forme d'une simple armoire qui peut comporter des objets de services d'utilité publique appartenant à un ou plusieurs réseaux de services d'utilité publique. A la différence du bâtiment technique, il n’est pas possible d’entrer à l’intérieur.
-- Description --
-- Source --
Inspire/IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CoffretType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence>
					<xs:element name="fonction" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Fonction de l'armoire/du coffret, par exemple : armoire de coupure / étoilement / transformation
-- Description --
Illustrations : 
Coffret BT







Poste de transformation compact





Armoire de coupure




-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CoffretPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Coffret"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Conteneur" type="star-dt:ConteneurType" abstract="true" substitutionGroup="star-dt:Ouvrage">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe abstraite qui regroupe les conteneurs de noeuds, qui servent de support aux noeuds du réseaux.
-- Description --
La modélisation se fait via un point qui représente le centre de l'objet. En option, l'attribut d'association geometrieSupplementaire peut être utilisé pour dessiner une limite ou un contour externe de l'objet. C'est le gestionnaire du réseau qui décide du moment où cela est pertinent.
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ConteneurType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:OuvrageType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Géométrie ponctuelle du conteneur. 
-- Description --
Une géométrie plus précise pourra être apportée par le lien geometrieSupplementaire, notamment pour les ouvrages de grande taille. 
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="materiau" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConteneurPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Conteneur"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Cote" type="star-dt:CoteType" substitutionGroup="star-dt:InformationSupplementaire">
		<xs:annotation>
			<xs:documentation>-- Name --
Côte
-- Definition --
Les côtes permettent de positionner un ouvrage relativement à des éléments du fond de plan.
-- Description --
Les côtes viennent compléter les ouvrages en positionnement graphique. 
Lorsque la densité de réseaux est importante et pour permettre la lisibilité du plan, le positionnement du réseau a pu être modifié par rapport à sa position réelle. Dans ce cas, la position réelle du réseau doit être déduite de la lecture des valeurs des côtes. Ce cas de figure est identifié par l’attribut « XYschematique » à « Vrai » sur les ouvrages concernés.
La valeur réelle de la cote n'est pas obligatoirement égale à la longueur géométrique de l'objet vectoriel.
L’usage des cotes pour déterminer la position réelle des ouvrages n’est pas préconisé mais il reste nécessaire pour déterminer la position réelle d’ouvrages dont la géométrie a été schématisée pour des questions de lecture dans des plans DAO (nappes d’ouvrages).

Illustrations : 
Côte permettant de positionner le centre de la nappe de câbles (les réseaux sont superposés en réalité mais sont représentés de manière “étalée” pour des raisons de lisibilité) :


-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CoteType">
		<xs:complexContent>
			<xs:extension base="star-dt:InformationSupplementaireType">
				<xs:sequence>
					<xs:element name="typeCote" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Permet de préciser le type d’objet constituant une côte 
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeCoteValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="angleRotation" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Angle de roation du symbole ou de l'étiquette
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localisation" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
point d'ancrage de la côte ou linéaire décrivant la prise de la côte
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CotePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Cote"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ElementReseau" type="star-dt:ElementReseauType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Objet générique du réseau
-- Description --
Cette classe abstraite regroupe l'ensemble des propriétés du réseau. 
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ElementReseauType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="pointLeve" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence minOccurs="0">
								<xs:element ref="star-dt:PointLeveOuvrageReseau"/>
							</xs:sequence>
							<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="reseau" type="star-dt:ReseauUtilitePropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Relation avec le (ou les) réseau général. 
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="informationSupplementaire" type="star-dt:InformationSupplementairePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Information supplémentaire sur cet objet
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="identifiant" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Identifiant de l'objet
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Code métier associé à l'objet dans la base de référence de l'exploitant.
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precisionXY" type="star-dt:ClassePrecisionReseauType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Indication de la précision dans le plan horizontal (x,y) de la position du géométrique de l'élément.
-- Description --
Classe de précision selon la définition de la réglementation DT-DICT. Ne s'applique pas aux éléments de réseau en projet. 
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precisionZ" type="star-dt:ClassePrecisionReseauType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Indication de la précision dans le plan vertical  (z) de la position du géométrique de l'élément.
-- Description --
Classement selon la définition de la réglementation DT-DICT. Ne s'applique pas aux éléments de réseau en projet. 
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="XYschematique" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise si les coordonnées sont des coordonnées graphiques (par opposition à des coordonnées vraies). Si sa valeur est à « Vrai », il est possible que la géométrie de l’ouvrage soit différente de son positionnement réel. 
En effet, les tracés ont été régulièrement schématisés dans les systèmes DAO, notamment pour représenter de manière lisible les nappes d’ouvrages dans un plan en 2 dimensions.
Dans ce cas, l’exploitant indique la position réelle de l’ouvrage à l’aide de côtes. Lorsque plusieurs ouvrages parallèles sont représentés à une même distance les uns des autres, il s’agit de la représentation schématique d’une nappe. Dans ce cas, des côtes pointent sur le centre de la nappe.
 -- Description --
L'absence de cet élément signifie que les coordonnées sont des coordonnées vraies. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="visibleSurface" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Indique si l'&amp;#233;l&amp;#233;ment est visible au-dessus du niveau du sol</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sensible" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Indique s'il s'agit d'un ouvrage sensible selon la définition de la réglementation DT-DICT.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ElementReseauPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:ElementReseau"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EnveloppeCableConduite" type="star-dt:EnveloppeCableConduiteType" abstract="true" substitutionGroup="star-dt:Troncon">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe abstraite qui regroupe les tronçons constituant une construction dans laquelle les câbles et les canalisations sont protégés et guidés.
-- Description --
Objet linéaire. En option, une surface peut être ajoutée en tant que géométrie supplémentaire.
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EnveloppeCableConduiteType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:TronconType">
				<xs:sequence>
					<xs:element name="nombreOuvrages" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Nombre de câbles, conduites ou canalisations dans l'élément conteneur. 
-- Description --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EnveloppeCableConduitePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:EnveloppeCableConduite"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Etiquette" type="star-dt:EtiquetteType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
classe abstraite permettant d'ajouter des étiquettes
-- Description --
La classe Etiquette est un type de données abstraites qui est créé pour être hérité de presque tous les objets du géostandard. Il permet d'offrir la possibilité d'associer une information textuelle. Notez que pour l'annotation, les étiquettes associées sont fournies via l'objet Etiquette. 
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EtiquetteType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="etiquette" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Texte ou nombre décrivant ou quantifiant une propriété et affiché sous forme d'annotation sur une image de carte.
-- Description --
-- Source --
IMKL</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="detail" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Description détaillée de la nature de l'information.
-- Description --
Peut être ajouté si l'étiquette a besoin de plus d'explications.
-- Source --
IMKL</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EtiquettePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Etiquette"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Fourreau" type="star-dt:FourreauType" substitutionGroup="star-dt:EnveloppeCableConduite">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Fourreau qui contient des cables et canalisation
-- Description --
Les fourreaux peuvent apparaitre pour plusieurs types de réseau. 
Si unfourreau est vide, cela peut être mentionné dans l'explication.
En option, une surface peut être ajoutée comme géométrie supplémentaire, mais seulement s'il y a de grands diamètres. C'est le gestionnaire du réseau qui décide des cas où cela est pertinent.
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FourreauType">
		<xs:complexContent>
			<xs:extension base="star-dt:EnveloppeCableConduiteType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FourreauPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Fourreau"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Galerie" type="star-dt:GalerieType" substitutionGroup="star-dt:EnveloppeCableConduite">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Infrastructure servant à protéger et à guider les câbles et les tuyaux au moyen d'une construction enveloppante.
-- Description --
Une galerie est une construction autre qu'un tube. Il peut s’agir d’une galerie visitable (où l’on peut évoluer). Il peut aussi s’agir de caniveaux de plus petite taille.   
Linéaire. En option, une surface peut être ajoutée comme géométrie supplémentaire.
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GalerieType">
		<xs:complexContent>
			<xs:extension base="star-dt:EnveloppeCableConduiteType">
				<xs:sequence>
					<xs:element name="largeur" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
largeur
--Definition--
Largeur de la galerie
--Description--
La largeur est exprimée en mètres.
(uom="http://www.opengis.net/def/uom/OGC/1.0/metre")</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hauteur" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
hauteur
--Definition--
Hauteur de la galerie
--Description--
La hauteur est exprimée en mètres.
(uom="http://www.opengis.net/def/uom/OGC/1.0/metre")</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GaleriePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Galerie"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="GeometrieSupplementaire" type="star-dt:GeometrieSupplementaireType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Type qui regroupe la/les géométrie(s) supplémentaire(s) des éléments du réseau. 
-- Description --
Cette classe offre la possibilité d'ajouter une géométrie supplémentaire aux nœuds et tronçons qui font partie du réseau. Il s'agit principalement de géométries 3D, mais pas exclusivement. 
La classe offre la possibilité d'inclure une représentation plane d'un élément de réseau, en 2D. 
Il est permis d'inclure plusieurs géométries dans cet objet, elles ne s'excluent pas mutuellement. 
Exemples d’usages préconisés :
	- Il est préconisé de fournir une géométrie complémentaire linéaire ou surfacique pour tous les conteneurs de nœuds de dimensions supérieures à 1m x 1m.
	- Des points de lever d’ouvrages d’une précision meilleure que la géométrie du tronçon peuvent être fournis sous forme de géométries complémentaires

Le minimum requis étant l’axe de la génératrice supérieure de l’ouvrage et le diamètre de son enveloppe extérieure s’il dépasse 100mm.
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GeometrieSupplementaireType">
		<xs:sequence>
			<xs:element name="surface2D" type="gml:SurfacePropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Représentation plane bidimensionnelle de l'élément réseau.
-- Description --
Utilisé si un élément de réseau est également représenté en tant que surface supplémentaire.
-- Source --
IMKL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="point2.5D" type="gml:PointPropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Représentation 2.5D  d'un élément ponctuel, incluant la valeur z.
-- Description --
-- Source --</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ligne2.5D" type="gml:CurvePropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Représentation 2.5D  d'un élément linéaire, incluant la valeur z.
-- Description --
-- Source --</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surface2.5D" type="gml:SurfacePropertyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Représentation 2.5D  d'un élément surfacique, incluant la valeur z.
-- Description --
-- Source --</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geometrie3D" type="gml:SolidPropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Représentation de l'élément réseau en tant que volume 3D.
-- Description --
-- Source --</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="precisionXY" type="star-dt:ClassePrecisionReseauType">
				<xs:annotation>
					<xs:documentation>--Definition--
Indication de la précision dans le plan horizontal (x,y) de la position du géométrique de l'élément. Classe de précision  selon la définition de la réglementation DT-DICT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="precisionZ" type="star-dt:ClassePrecisionReseauType">
				<xs:annotation>
					<xs:documentation>--Definition--
Indication de la précision dans le plan vertical (z) de la position du géométrique de l'élément. Classe de précision  selon la définition de la réglementation DT-DICT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commentaire" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>--Definition--
Champ texte permettant de préciser la nature de la géometrie supplémentaire.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeometrieSupplementairePropertyType">
		<xs:sequence>
			<xs:element ref="star-dt:GeometrieSupplementaire"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="HierarchieValueType">
		<xs:union memberTypes="star-dt:HierarchieValueEnumerationType star-dt:HierarchieValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="HierarchieValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="reseau">
				<xs:annotation>
					<xs:documentation>--Definition--
El&amp;#233;ment constitutif du r&amp;#233;seau</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="branchement">
				<xs:annotation>
					<xs:documentation>--Definition--
Elément de branchement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HierarchieValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="InformationSupplementaire" type="star-dt:InformationSupplementaireType" abstract="true" substitutionGroup="star-dt:Etiquette">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe abstraite qui regroupe les informations complémentaires à l'échange
-- Description --
Des informations supplémentaires peuvent être fournies aux objets via des annotations et des fichiers liés
-- Source --
IMKL</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InformationSupplementaireType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:EtiquetteType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformationSupplementairePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:InformationSupplementaire"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NappeCable" type="star-dt:NappeCableType" substitutionGroup="star-dt:EnveloppeCableConduite">
		<xs:annotation>
			<xs:documentation>-- Name --
Nappe de câbles
-- Definition --
Espace formé par le tracé commun d'un ou de plusieurs câbles, tubes, PEHD et/ou tubes de gaines appartenant à un même opérateur de réseau.
-- Description --
Câbles ou tubes lâches qui se trouvent ensemble dans une nappe. Les informations sont incluses au niveau de l'ensemble des câbles ou des tubes.
S'il y a plusieurs ouvrages dans une nappe, la mention du nombre d’ouvrages est obligatoire.
Linéaire. En option, une surface peut être ajoutée comme géométrie supplémentaire. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NappeCableType">
		<xs:complexContent>
			<xs:extension base="star-dt:EnveloppeCableConduiteType">
				<xs:sequence>
					<xs:element name="largeur" type="gml:LengthType">
						<xs:annotation>
							<xs:documentation>--Name--
largeur
--Definition--
Largeur de la nappe
--Description--
La largeur est exprimée en mètres (uom="http://www.opengis.net/def/uom/OGC/1.0/metre")</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NappeCablePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:NappeCable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="NatureReseauValueType">
		<xs:annotation>
			<xs:documentation>-- Définition --
Code permettant de décrire de façon extensible la nature d'un réseau</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="star-dt:NatureReseauValueEnumerationType star-dt:NatureReseauValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="NatureReseauValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELEC">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Electricité</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ELECECL">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>          Eclairage public</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ELECSLT">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Signalisation électrique tricolore basse tension</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ELECTRD">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Electricité transport/distribution</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GAZ">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Gaz</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHIM">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Produits chimiques</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AEP">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Eau potable</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASS">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Assainissement et pluvial</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSEP">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>          Eaux pluviales</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSEU">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>          Eaux usées</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHAU">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Chauffage et climatisation</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COM">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Télécom et signalisation lumineuse tricolore TBT</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DECH">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Déchets</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AUTREAU">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Incendie, Irrigation, Eau brute, Eau salée, Eau non chlorée</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PINS">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Ouvrage de protection inondation Submersion</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MULT">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Multi réseaux</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INC">
				<xs:annotation>
					<xs:appinfo>
						<gml:description>Non défini</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NatureReseauValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="NoeudReseau" type="star-dt:NoeudReseauType" abstract="true" substitutionGroup="star-dt:Ouvrage">
		<xs:annotation>
			<xs:documentation>-- Name --
Noeud du réseau
-- Definition --
Point de rupture entre deux tronçons d'ouvrage consécutifs. 
Ils permettent de donner une information fonctionnelle. Ils sont facultatifs (pas d’information topologique portée par le modèle, rien n’oblige donc à disposer de nœuds à chaque point de rupture).
-- Description --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NoeudReseauType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:OuvrageType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:PointPropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NoeudReseauPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:NoeudReseau"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Ouvrage" type="star-dt:OuvrageType" abstract="true" substitutionGroup="star-dt:ElementReseau">
		<xs:annotation>
			<xs:documentation>-- Name --
Ouvrage

-- Definition --
Classe abstraite, tout ou partie de canalisation, ligne, installation appartenant à une des catégories mentionnées au I ou au II de l’article R. 554-2 ainsi que leurs branchements et équipements ou accessoires nécessaires à leur fonctionnement;

-- Description --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OuvrageType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:ElementReseauType">
				<xs:sequence>
					<xs:element name="geometrieSupplementaire" type="star-dt:GeometrieSupplementairePropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Géométrie supplémentaire en plus de celle déjà oligatoire, qui toutes deux permettent de mieux décrire l'ouvrage.
Exemples d’usages préconisés :
•	Il est préconisé de fournir une géométrie complémentaire linéaire ou surfacique pour tous les conteneurs de nœuds de dimensions supérieures à 1m x 1m.
•	Des points de lever d’ouvrages d’une précision meilleure que la géométrie du tronçon peuvent être fournis sous forme de géométries complémentaires
Le minimum requis étant l’axe de la génératrice supérieure de l’ouvrage et le diamètre de son enveloppe extérieure s’il dépasse 100mm.

-- Description --
La classe géométrie supplémentaire peut contenir plusieurs géométries.  
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="statut" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>-- Name --
statut

-- Definition --
Statut de  l'objet concernant son état et son usage

--Source-- 
INSPIRE</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ConditionOfFacilityValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="valideDe" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
valide de

-- Definition --
Date de création de l'ouvrage dans le monde réel

--Source-- 
INSPIRE</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valideJusque" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Valide jusqu'&amp;#224;

-- Definition --
Date de destruction de l'objet dans le monde r&amp;#233;&amp;#233;l.

--Source-- 
INSPIRE</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positionVerticale" type="star-dt:VerticalPositionValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Position verticale

-- Definition --
Position de l'ouvrage par rapport au sol

--Source-- 
INSPIRE</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="miseAJour" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Mise à jour

-- Definition --
Date de dernière modification de l'objet dans la base de référence de l'exploitant</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dimension" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Dimension de l'ouvrage
-- Definition --
Définit la taille de l'objet. En fonction du type d'ouvage, la dimension la plus significative est renseignée. L’obligation de renseignement de la dimension est précisée dans l’article 7 de l’arrêté du 15/02/2012.
-- Description --
L'unité de mesure est exprimée par l'un des codes URN suivants de l'OGC : - urn:ogc:def:uom:OGC::m  - urn:ogc:def:uom:OGC::cm - urn:ogc:def:uom:OGC::mm
-- Source --
Réglementation
    4° Lorsque la partie linéaire de l'ouvrage est représentée par un simple trait   (selon l'axe de la génératrice supérieure de l'ouvrage)  et lorsque le diamètre de l'ouvrage (y compris son revêtement, son  enveloppe ou, pour tous les ouvrages mis en exploitation après la publication  du présent arrêté et pour tous ceux pour lesquels l'information est disponible,     le fourreau dans lequel il est inséré), ou sa plus grande dimension  orthogonale au tracé, est supérieur à 100 mm, le plan mentionne cette     dimension.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="caracteristiques" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Caractéristiques techniques de l'ouvrage
-- Definition --
-- Description --
Texte libre permettant d’exprimer certaines caractéristiques techniques de l'ouvrage
Par exemple pour un câble le nombre de phases, le type de neutre et leur section en mm² (ex : 3x150 + 70NM)
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OuvragePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Ouvrage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="OuvrageEnTechniqueAlternative" type="star-dt:OuvrageEnTechniqueAlternativeType" substitutionGroup="star-dt:Troncon">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe regroupant les éléments du réseau d'eaux pluviales qui ne rentrent pas dans les autres types de tronçons.
-- Description --
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="OuvrageEnTechniqueAlternativeType">
		<xs:complexContent>
			<xs:extension base="star-dt:TronconType">
				<xs:element name="nature" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				    <xs:annotation>
					<xs:documentation>-- Name --
-- Definition --
Nature de l'ouvrage en technique alternative
-- Description --
-- Source --</xs:documentation>
					<xs:appinfo>
					    <gmlexr:targetCodeList>TypeTechniqueAlternativeValue</gmlexr:targetCodeList>
					</xs:appinfo>
				    </xs:annotation>
				</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OuvrageEnTechniqueAlternativePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:OuvrageEnTechniqueAlternative"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PerimetreParticulier" type="star-dt:PerimetreParticulierType" substitutionGroup="star-dt:Etiquette">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe qui définit des périmètres présentant une particularité. 
-- Description --
La description de la zone peut être communiquée dans la description d’un objet Etiquette associé.
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PerimetreParticulierType">
		<xs:complexContent>
			<xs:extension base="star-dt:EtiquetteType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:SurfacePropertyType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Géométrie permettant de décrire le périmètre particulier. 
-- Description --
Le périmètre particulier ne représente pas une géométrie réelle. la géométrie peut être élargie pour des besoins de représentations. 
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precaution" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Typologie de la particularité
-- Description --
Zone en projet : Il s'agit d'une zone dans laquelle des ouvrages sont en construction ou ont été construits mais ne sont pas encore décrits dans la cartographie de l'exploitant. 
Zone non couverte : Il s'agit d'une zone dans laquelle l'exploitant a identifié qu'un ouvrage était tout ou partiellement absent de sa cartographie
exemptionIC : Zone où les tronçons qui ne sont pas en classe A sont exemptés d’Investigations Complémentaires </xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeParticulariteValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="idInterneGestionnaire" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Identifiant interne au gestionnaire de la zone. Il peut par exemple s'agir du code affaire des travaux pour une zone en projet </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PerimetreParticulierPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:PerimetreParticulier"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="PointLeveOuvrageReseau" type="star-dt:PointLeveOuvrageReseauType" substitutionGroup="star-dt:PointLevePCRS">
		<xs:annotation>
			<xs:documentation>--Name--
Point levé sur le réseau
--Definition--
Cette classe décrit les points levés spécifiques au réseau et permet d’indiquer la profondeur ou l’altimétrie connue en certains points des ouvrages. Il ne s’agit pas des 3 points géoréférencés de l’ouvrage qui doivent figurer sur le plan pdf/papier en réponse aux DT-DICT. En effet, le producteur des données StaR-DT s’engage sur le géoréférencement dans la classe de précision spécifiée de ses ouvrages en tous points.
L’indication de la charge à la génératrice a pour objet de répondre à l’obligation de mentionner les points de l’ouvrage qui ne satisferaient pas à l’éventuelle règle de profondeur minimale réglementaire à la date de pose de l’ouvrage. Cette information est intrinsèquement moins fiable que les indications d’altitude de l’ouvrage, le terrain naturel ayant pu évoluer depuis la pose. Elle est donc à limiter à cet usage.
--Description--
Elle reprend les attributs de la classe PointLeve du PCRS.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PointLeveOuvrageReseauType">
		<xs:complexContent>
			<xs:extension base="star-dt:PointLevePCRSType">
				<xs:sequence>
					<xs:element name="typeLeve" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
type de levé
--Definition--
Précise quel type de levé a été effectué.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>LeveTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="leve" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>--Name--
mesure
--Definition--
Mesure faite lors du levé
--Description--
La mesure est exprimée en mètres.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PointLevePCRS" type="star-dt:PointLevePCRSType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Synonymes --
Point levé du PCRS
-- Définition --
Point géoréférencé en planimétrie, ou planimétrie et altimétrie du PCRS
-- Regroupement --
De façon non limitative, tout point situé le long ou sur le pourtour d'un objet du PCRS peut être décrit par cette classe d'objet, par exemple :
	- Point le long d'un fil d'eau
	- Point d'une limite apparente
	- Point d'amorce de bâti
	- Point de seuil
	- Point de rupture de pente
	- Point le long d'un rail
	- Point associé à un dénivelé d'escalier ou de marche d'escalier
	- Par extension, tout point utile issu d'un lever Mobile Mapping (nuages de points LIDAR, vues immersives...).
-- Critères de sélection --
Tout point servant à qualifier un objet du PCRS en tant que support pour une cotation des réseaux en classe A (planimétrie et altimétrie) ou en classe AP (planimétrie seulement) au sens DT-DICT.
-- Modélisation --
Point
La modélisation géométrique par point(s) est propre à chacun des objets du PCRS, elle sera donc décrite dans la partie du catalogue propre à chacun des objets dérivés de la classe ObjetPCRS (paragraphes B.3.5 à B.3.18)
-- Contraintes --
Un point levé doit être topologiquement inclus dans l'emprise du levé topographique.
Les points peu précis n'ont pas à figurer dans les données échangées du PCRS.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PointLevePCRSType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>-- Définition --
Géométrie de type ponctuel.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="horodatage" type="xs:date" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Définition --
Horodatage du point au moment du levé topographique
-- Contraintes --
Optionnel : pour la reprise de données existantes, lorsque l'horodatage du point levé est connu, il est obligatoire de le renseigner
selon la méthode topographique utilisée, cette valeur doit si possible être renseignée pour tous les points levés lors d'un nouveau levé topographique
cette valeur, lorsqu'elle est présente, doit donner des informations sur la chronologie des points levés : il est donc déconseillé de renseigner des valeurs identiques par exemple à la date de début ou la date de fin du levé topographique</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numeroPoint" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Définition --
Numéro attribué au point levé lors du levé topographique ou de l'intégration au référentiel selon une ou plusieurs méthodologies à préciser si possible dans les métadonnées
-- Regroupement --
Un ou plusieurs caractères alpha non accentués préfixant un nombre à valeurs dans une série numérique croissante avec possibilité de sauts / valeurs manquantes dans la suite.
Un changement de préfixe interrompt la série en cours et ne peut être repris par la suite
exemples : M001 , M002, M004, PA000, PA002, PA007 sont dans cet ordre des valeurs licites de numérotation de points levés
M005 qui est une valeur licite avant PA000, est une valeur illicite après n'importe lequel des points levés de la série PA ou avant le point levé M004
...
-- Contraintes --
Valeur non vide
Cette valeur est unique pour un même levé topographique, mais peut toutefois être réutilisée pour des levés topographiques différents
Cette valeur doit être si possible conforme à la numérotation du géomètre topographe lors du relevé topographique.
Si le gestionnaire du PCRS est amené à en changer la numérotation, il est invité à mettre en &amp;oelig;uvre toute méthode permettant d'assurer une traçabilité avec la numérotation d'origine.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precisionXY" type="xs:integer">
						<xs:annotation>
							<xs:documentation>-- Définition --
Précision planimétrique exprimée en cm
-- Contraintes --
Optionnel, à renseigner si disponible</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="precisionZ" type="xs:integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Définition --
Précision altimétrique exprimée en cm
-- Contraintes --
Optionnel, à renseigner si disponible</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="producteur" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Définition --
Producteur de la donnée.
-- Regroupement --
La valeur sera saisie et déterminée par le producteur de façon stable. Cet attribut permettra de filtrer l'ensemble des objets d'un producteur donné. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Poteau" type="star-dt:PoteauType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
Poteau
-- Definition --
Objet se présentant sous la forme d'un simple poteau (mât) qui peut supporter des objets de services d'utilité publique appartenant à un ou plusieurs réseaux de services d'utilité publique.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PoteauType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence>
					<xs:element name="hauteurPoteau" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
--Definition--
Hauteur du poteau</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoteauPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Poteau"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ProtectionInondationSubmersion" type="star-dt:ProtectionInondationSubmersionType" substitutionGroup="star-dt:Ouvrage">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Ouvrages de protection inondation submersion, qui comprennent notamment les digues.
-- Description --
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProtectionInondationSubmersionType">
		<xs:complexContent>
			<xs:extension base="star-dt:OuvrageType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:GeometryPropertyType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Géométrie de la digue, linéaire ou surfacique
-- Description --
Des géométries supplémentaires peuvent être apportées via le lien "geometrieSupplementaire". 
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="materiau" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Matériau principal constituant la digue. 
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>MateriauOuvragePINSValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="presenceParafouille" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
-- Description --
Indique la présence ou non de protection de type parafouille
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="presenceDrainage" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Indique la présence ou non dun dispositidf de drainage
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureOuvrage" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise le type de structure de l'ouvrage singulier
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>StructureOuvragePISValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="protectionPiedTalus" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise la nature de la protection au pied du talus. 
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ProtectionPINSValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="protectionSurfaceTalus" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise la nature de la protection à la surface du talus. 
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ProtectionPINSValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeOuvrage" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise le type de l'ouvrage singulier constituant la digue
-- Description --
-- Source --</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TypeOuvragePINSValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="caracteristiquesCretes" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise le les caractéristiques de la crête du talus
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="caracteristiquesTalusAval" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Précise les caractéristiques du talus aval. 
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProtectionMecanique" type="star-dt:ProtectionMecaniqueType" substitutionGroup="star-dt:EnveloppeCableConduite">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Dispositif de protection mécanique
-- Description --
-- Source --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProtectionMecaniqueType">
		<xs:complexContent>
			<xs:extension base="star-dt:EnveloppeCableConduiteType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProtectionMecaniquePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:ProtectionMecanique"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Pylone" type="star-dt:PyloneType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
Pylône
-- Definition --
Objet se présentant sous la forme d'un simple pylône qui peut supporter des objets de services d'utilité publique appartenant à un ou plusieurs réseaux de services d'utilité publique.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PyloneType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence>
					<xs:element name="hauteurPylone" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>--Name--
Hauteur du pylône
--Definition--</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PylonePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Pylone"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RegardNonVisitable" type="star-dt:RegardNonVisitableType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
Regard non visitable ou bouche à clé  (Les éléments de type Boite, Chambre sont modélisés comme des Regards)
-- Definition --
Objet se présentant sous la forme d'un simple conteneur qui peut contenir un ou plusieurs objets de réseaux de services d'utilité publique.
Le regard non visitable est de taille trop limitée pour permettre le passage d’un humain à l’intérieur.


Les regards remplissent les fonctions suivantes :
	- Fournir un système d'évacuation pour le système de conduits afin que l'eau gelée n'endommage pas le conduit ou les fils.
	- Fournir un emplacement pour changer le conduit de direction sans endommager les cables.
	- Fournir un point de jonction pour les conduits provenant de différentes directions.
	- Donner accès au système pour l'entretien.
-- Description --
Illustration : 
Boite sous trottoir



-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegardNonVisitableType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence>
					<xs:element name="fonction" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Fonction du regard
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="borgne" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Prend la valeur « Vrai » si le regard n’a pas d’accès depuis la surface
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegardNonVisitablePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:RegardNonVisitable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RegardVisitable" type="star-dt:RegardVisitableType" substitutionGroup="star-dt:Conteneur">
		<xs:annotation>
			<xs:documentation>-- Name --
Regard visitable ou tampon. 
-- Definition --
Espace enterré, suffsamment grand et accessible pour qu’une personne puisse y descendre et intervenir ; exemples : chambre à sable, regard de ventouse…
Objet se présentant sous la forme d'un simple conteneur qui peut contenir un ou plusieurs objets de réseaux de services d'utilité publique.

Les regards remplissent les fonctions suivantes :
	- Fournir un système d'évacuation pour le système de conduits afin que l'eau gelée n'endommage pas le conduit ou les fils.
	- Fournir un emplacement pour changer le conduit de direction sans endommager les cables.
	- Fournir un point de jonction pour les conduits provenant de différentes directions.
	- Donner accès au système pour l'entretien.
-- Description --

-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegardVisitableType">
		<xs:complexContent>
			<xs:extension base="star-dt:ConteneurType">
				<xs:sequence>
					<xs:element name="fonction" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Fonction du regard
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="borgne" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Prend la valeur « Vrai » si le regard n’a pas d’accès depuis la surface
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegardVisitablePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:RegardVisitable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="RegimeValueType">
		<xs:union memberTypes="star-dt:RegimeValueEnumerationType star-dt:RegimeValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="RegimeValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="monophase">
				<xs:annotation>
					<xs:documentation>--Definition--
Monophas&amp;#233;</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="triphase">
				<xs:annotation>
					<xs:documentation>--Definition--
Triphas&amp;#233;</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="continu">
				<xs:annotation>
					<xs:documentation>--Definition--
Continu</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegimeValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="member" type="star-dt:ReseauFeatureMemberType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="ReseauFeatureMemberType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureMemberType">
				<xs:sequence minOccurs="0">
					<xs:element ref="gml:AbstractFeature"/>
				</xs:sequence>
				<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReseauFeatureMemberPropertyType">
		<xs:sequence>
			<xs:element ref="star-dt:member"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ReseauUtilite" type="star-dt:ReseauUtiliteType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>-- Name --
-- Definition --
Classe qui permet de décrire le réseau en général.
-- Description --
-- Source --
Inspire</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReseauUtiliteType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="perimetreParticulier" type="star-dt:PerimetreParticulierPropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="nom" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Nom donné au réseau
-- Description --
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="theme" type="star-dt:NatureReseauValueType">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Permet de décrire le type de réseau conformément à la liste des réseaux de la NF P98-332
-- Description --

-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profondeurStandard" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Profondeur commune associée à ce réseau. La profondeur est relative au niveau du sol. Elle s'entend à la génératrice supérieure. 
-- Description --
Cet attribut a une mesure comme type de données. Cette mesure est exprimée en mètres. L'UOM est exprimée par le code  suivant de l'OGC : http://www.opengis.net/def/uom/OGC/1.0/metre
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mention" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Mention légale particulière.
-- Description --


-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responsable" type="xs:string">
						<xs:annotation>
							<xs:documentation>-- Name --
-- Definition --
Gestionnaire/exploitant du réseau
-- Description --
Raison sociale de l'expoitant de l'ouvrage. . Lorsqu’un exploitant a connaissance d’ouvrages dont il n’est pas l’exploitant, connectés à ses propres ouvrages, il peut les mentionner d’une manière distinctive en indiquant une valeur « Inconnu » pour cet attribut.
-- Source --</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReseauUtilitePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:ReseauUtilite"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="StaR-DT" type="star-dt:StaR-DTType" substitutionGroup="gml:AbstractFeature"/>
	<xs:complexType name="StaR-DTType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element ref="star-dt:member" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="StaR-DTPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:StaR-DT"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Troncon" type="star-dt:TronconType" abstract="true" substitutionGroup="star-dt:Ouvrage">
		<xs:annotation>
			<xs:documentation>-- Name --
Tronçon

-- Definition --
Classe abstraite qui regroupe les propriétés des linéaires de réseau câble, fourreau et conduite. 

-- Description --</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TronconType" abstract="true">
		<xs:complexContent>
			<xs:extension base="star-dt:OuvrageType">
				<xs:sequence>
					<xs:element name="geometrie" type="gml:CurvePropertyType">
						<xs:annotation>
							<xs:documentation>-- Name --
Geométrie

-- Definition --</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="typeElement" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Type d'élément

-- Definition --
Type d'élément de réseau (transport, distribution, collecte ...)</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>UtilityDeliveryTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="dispositifProtection" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>-- Name --
Dispositif de protection

-- Definition --
Dispositif permettant de protéger le tronçon d'ouvrage contre les agressions externes. La présence d'un dispositif de protection est celle connue à la pose du réseau. </xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>WarningTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="profondeurMinReg" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Profondeur minimale réglementaire

-- Definition --
 Profondeur minimale à la génératrice supérieure. 
Si souterrain, répondant à l'exigence de l'article 7 de l'arrêté DT-DICT : \\ //3° Lorsque le récépissé mentionne l'existence d'une règle de profondeur minimale à la date de pose de l'ouvrage ou de certains tronçons de l'ouvrage, le plan mentionne cette profondeur réglementaire pour chacun des tronçons concernés et, le cas échéant, les tronçons qui ne respectent pas cette profondeur minimale. En outre, lorsque la profondeur d'enfouissement est susceptible d'être inférieure à 10 centimètres à plus de 1 mètre de tout affleurant, cela est signalé dans le plan ou le récépissé ;//</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profondeurMinNonReg" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Profondeur minimale non réglementaire

-- Definition --
Profondeur minimale à la génératrice supérieure. 
Si souterrain, répondant à l'exigence de l'article 7 de l'arrêté DT-DICT : \\ //3° Lorsque le récépissé mentionne l'existence d'une règle de profondeur minimale à la date de pose de l'ouvrage ou de certains tronçons de l'ouvrage, le plan mentionne cette profondeur réglementaire pour chacun des tronçons concernés et, le cas échéant, les tronçons qui ne respectent pas cette profondeur minimale. En outre, lorsque la profondeur d'enfouissement est susceptible d'être inférieure à 10 centimètres à plus de 1 mètre de tout affleurant, cela est signalé dans le plan ou le récépissé ;//</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="materiau" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Matériau

-- Definition --
Matériau du tronçon</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>PipeMaterialTypeValue</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="hierarchie" type="star-dt:HierarchieValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Hiérarchie

-- Definition --
Hiérarchie du tronçon dans le réseau.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="commentaire" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Commentaire

-- Definition --
Tout type de commentaire additionnel utile. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="hauteurMinReg" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Hauteur minimale réglementaire
-- Definition --
Si aérien, répondant à l'exigence de l'article 15 de l'arrêté DT-DICT :  Pour les ouvrages ou tronçons d'ouvrage aériens, les cotes x et y peuvent être relevées uniquement pour les supports, et la cote z peut être relevée uniquement pour les points du tracé entre supports présentant la hauteur de surplomb la plus faible dans les conditions météorologiques les plus défavorables ou être remplacée par l'indication de la hauteur de surplomb minimale réglementaire de ces points.

-- Description --
Cette hauteur est exprimée en mètres : urn:ogc:def:uom:OGC::m </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exemptionIC" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>-- Name --
Tronçon exempté d’Investigations Complémentaires

-- Definition --
Tronçon pour lequel l’obligation de réponse en classe A à la Déclaration de Travaux ne s’applique pas (Parties d’ouvrages cartographiées, très limitées et difficiles d’accès : intersections de routes, traversées obliques de route, présence d’infrastructure au-dessus ou mesures de localisation en échec).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TronconPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="star-dt:Troncon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:simpleType name="VerticalPositionValueType">
		<xs:annotation>
			<xs:documentation>-- Definition --
The relative vertical position of a spatial object.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="onGroundSurface">
				<xs:annotation>
					<xs:documentation>-- Definition --
The spatial object is on ground level.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="suspendedOrElevated">
				<xs:annotation>
					<xs:documentation>-- Definition --
The spatial object is suspended or elevated.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="underground">
				<xs:annotation>
					<xs:documentation>-- Definition --
The spatial object is underground.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
